body {
    background-color: lightpink;
    background-image: url(../images/background-img.jpg);
}

h2 {
    color: orangered;
}

p {
    color: rgb(255, 0, 200);
    font-weight: bold;
}

.text-center {
    text-align: center;
}